<div style="float: left; padding-right:15px"><%= album_image(@album) %></div>
<br/>
<h2><%= "#{@album.banda.nome} - #{@album.nome} (#{@album.ano})" %></h2>
<br/>

<div id="album_menu" style="height:110px">
  <%= link_to 'Voltar', banda_path(@album.banda)%> |
  <%= link_to 'Adicionar Link', new_link_path(@album)%> |
  <%= link_to "Adicionar Torrent", "javascript:addTorrent()" %>
  <% if @album.user.id == session[:user] %> |
    <%= link_to "Editar", editar_album_path(@album) %>
  <% end  %>
  <%= render :partial => "torrents/upload_torrent" %>
</div>

<% if @album.links.size > 0 %>
<table style="margin:5px" cellpadding="5">
  <tr>
      <th align="left"><%= image_tag "liame.png", {:style=>"padding-right:5px; float:left"} %>Liames</th>      
      <th>Semeadores</th>
      <th>Arquivos</th>
      <th>Tamanho</th>
    </tr>

    <% @album.links.each do |link| %>
    <tr style="">
        <% unless link.is_torrent %>
          <td>
            <%= link_to "Link de #{link.tracker.nome}", link_path(link), { :rel => 'nofollow' } %>
          </td>
          <td align="center">-</td>
          <td align="center">-</td>
          <td align="center">-</td>
        <% else %>
          <td>
            <%= link_to "#{link.torrent.nome}", link.url, { :rel => 'nofollow' } %>
          </td>
          <td align="center" style="color:green; font-size:14px" valign="middle">
            <%= link.torrent.total_seeds %>
          </td>
          <td valign="middle" align="center">
            <div style="font-size:14px"><%= link.torrent.arquivos.size  %></div>
          </td>
          <td valign="middle" align="center">
            <div style="font-size:14px"><%= to_size(link.torrent.size)  %></div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

<% else  %>
  <p style="font-size:15px"><br>Nenhum liame foi adicionado ainda.</p>
<% end  %>
