<h1>Editing arquivo</h1>

<% form_for(@arquivo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :pasta %><br />
    <%= f.text_field :pasta %>
  </p>
  <p>
    <%= f.label :tamanho %><br />
    <%= f.text_field :tamanho %>
  </p>
  <p>
    <%= f.label :torrent_id %><br />
    <%= f.text_field :torrent_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @arquivo %> |
<%= link_to 'Back', arquivos_path %>